::selection{background:#fff8ab; color:#000}
::-moz-selection{background:#fff8ab; color:#000}

@font-face {
    font-family: 'entypo';
    src: url('entypo.eot');
    src: url('entypo.eot?#iefix') format('embedded-opentype'),
         url('entypo.woff') format('woff'),
         url('entypo.ttf') format('truetype'),
         url('entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'entypo-social';
    src: url('entypo-social.eot');
    src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
         url('entypo-social.woff') format('woff'),
         url('entypo-social.ttf') format('truetype'),
         url('entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 	{
    font-family: 'entypo-logo';
    src: 	url('entypo-logo-webfont.eot');
    src: 	url('entypo-logo-webfont.eot?#iefix') format('embedded-opentype'),
         	url('entypo-logo-webfont.woff') format('woff'),
         	url('entypo-logo-webfont.ttf') format('truetype'),
         	url('entypo-logo-webfont.svg#entypo-logo') format('svg');
   font-weight: normal;
   font-style: normal;

}

body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: "myriad-pro", Arial, sans-serif;
	background: #fff;
	color: #828282;
	border-bottom: 265px solid #e6e6e6;
}

a {
	-webkit-transition-property: background-color, color, border;
	-webkit-transition-duration: 500ms;
}

a:link, a:visited {
	color: #5099cc;
	text-decoration: none;
}

a:hover, a:active {
	color: #4480aa;
}

section#about li:before {
	content: "• ";
}

header {
	padding: 140px 0 80px;
	background: #66af33;
}

header div.content {
	margin: 0 auto;
	width: 720px;
	text-align: center;
}

body#charmap header {
	padding: 60px 0 40px;
}

#pictograms {
	margin: 0 auto 30px;
	width: 620px;
	text-align: center;
}

#pictograms span {
	margin-right: 30px;
	font-family: "entypo";
	line-height: 0;
	color: #fff;
	font-size: 20em;
	text-align: center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#pictograms span:last-child {
	margin-right: 0;
}

header h1 {
	margin: 0;
	padding: 0;
	font-size: 3.6em;
	font-family: "museo-slab", Georgia, serif;
	font-weight: 300;
	color: #fff;
	text-align: center;
}

header p {
	margin: 10px 0 0;
	font-size: 1.5em;
	line-height: 1.6em;
	text-align: center;
	color: #c7e9af;
}

header p a:link, header p a:visited {
	color: #fff;
}

header p a:hover, header p a:active {
	color: #fff8ab;
}

div#top {
	background: #1e1e1e;
}

div#top .content {
	position: relative;
}

div#logo {
	margin: 0;
	padding: 0;
	font-family: "entypo-logo";
	position: absolute;
	top: 35px;
	left: 410px;
	width: 200px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div#logo div#front {
	font-size: 100px;
	font-family: "entypo-logo";
	color: #fff;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), to(rgba(0,0,0,.7)));
	text-shadow: 0 1px 1px rgba(0,0,0,.2), 0 2px 1px rgba(0,0,0,.05);
	position: absolute;
	z-index: 2;
}

div#logo div#back {
	font-size: 100px;
	font-family: "entypo-logo";
	color: #ddd;

	text-shadow:
		0 1px 0 #ddd,
		0 2px 0 #aaa,
		0 3px 0 #888,
		0 5px 1px rgba(0,0,0,.05),
		0 6px 1px rgba(0,0,0,.05),
		0 0 5px rgba(0,0,0,.01),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
		0 20px 20px rgba(0,0,0,.15);

		position: absolute;
		z-index: 1;
}

.content {
	margin: 0 auto;
	width: 940px;
}

nav {
	padding: 35px 0;
	float: left;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	float: left;
	margin: 0 30px 0 0;
	font-size: 1.2em;
	font-family: "bree", Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

nav li.active a {
	padding-bottom: 7px;
	color: #9a9a9a;
	border-bottom: 1px solid #999;
}

nav a:link, nav a:visited {
	color: #fff;
}

nav a:hover, nav a:active {
	color: #aaa;
}

div.social {
	margin-top: 30px;
	float: right;
	text-align: right;
	width: 260px;
}

.flattrButton {
	float: right;
}

div.fb-like {
	float: left;
}

ul.buttons {
	margin: 30px auto;
	padding: 0;
	list-style: none;
	width: 590px;
}

ul.buttons li {
	margin: 0 30px 0 0;
	padding: 0;
	width: 280px;
	float: left;
	font-size: 1.2em;
	font-family: "bree", Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

ul.buttons li:last-child {
	margin-right: 0;
}

ul.buttons li a {
	position: relative;
	display: block;
	padding: 15px 15px 15px 35px;
	color: #fff;
	text-decoration: none;
	-webkit-border-radius: 4px;
}

ul.buttons li span {
	top: -9px;
	left: 15px;
	position: absolute;
	font-family: "entypo";
	font-size: 3.8em;
}

ul.buttons li.dribbble span, ul.buttons li.twitter span {
	font-family: "entypo-social";
}

ul.buttons li a:link, ul.buttons li a:visited {
	background: #5099cc;
}

ul.buttons li a:hover, ul.buttons li a:active {
	background: #4480aa;
}

section#characters ul {
	margin: 0 0 40px 20px;
	padding: 0;
	list-style: none;
}

section#characters li {
	float: left;
	margin: 0 20px 0 0;
	width: 20px;
	font-family: "entypo";
	font-size: 4em;
	line-height: 1;
	text-align: center;
	color: #333;
}

section#characters ul#entypo-social li, section#map ul#entypo-social li span.pictogram {
	font-family: "entypo-social";
}

h3 {
	margin: 0 0 10px;
	text-align: center;
	font-size: 1.4em;
	color: #9a9a9a;
	font-weight: normal;
}

section#map {
	padding: 20px 0 0;
}

section#map ul {
	margin: 0 0 40px;
	padding: 0;
	list-style: none;
}

section#map li {
	float: left;
	margin: 0 20px 0 0;
	padding: 0 0 20px;
	width: 76px;
	height: 95px;
	text-align: center;
}

section#map li.last {
	margin-right: 0;
}

section#map li span.pictogram {
	font-family: "entypo";
	font-size: 6em;
	line-height: 1;
	color: #333;
}

section#map li p.unicode {
	margin: 0;
	font-size: 1.4em;
	color: #333;
}

section#map li p.html {
	margin: 3px 0 0;
	font-size: 1.1em;
}

section#about {
	border-top: 1px solid #e0e0e0;
	padding: 50px 0 100px;
}

section#about article {
	padding: 20px;
	width: 260px;
	float: left;
	margin-right: 20px;
}

section#about article:last-child {
	margin-right: 0;
}

section#about h1 {
	margin: 0 0 6px;
	font-size: 1.2em;
	font-weight: 300;
	font-family: "bree", Arial, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #9a9a9a;
	text-align: center;
}

section#about h2 {
	margin: 0;
	font-size: 2em;
	font-family: "museo-slab", Georgia, serif;
	color: #333;
	text-align: center;
	font-weight: 500;
}

section#about p {
	font-size: 1.3em;
	line-height: 1.5em;
}

section#about ul {
	list-style: none;
}

section#about li {
	font-size: 1.3em;
	line-height: 1.5em;
}

section#about li.seperator {
	margin-top: 10px;
}

#overlay {
	display: none;
	padding: 165px 180px 180px;
	width: 580px;
	background: #fff;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#overlay h1 {
	margin: 0;
	font-size: 3em;
	font-family: "museo-slab", Georgia, serif;
	font-weight: 700;
	color: #333;
}

#overlay p {
	margin: 5px 0 0;
	font-size: 1.5em;
}

#simplemodal-container a.modalCloseImg {
	width:26px;
	height:26px;
	display:inline;
	z-index:3200;
	position:absolute;
	font-family: "entypo";
	top: 25px;
	right: 15px;
	cursor:pointer;
	border: none;
	opacity: .2;
	font-size: 6em;
	line-height: 0;
	color: #999;
}

#simplemodal-container a.modalCloseImg:hover {
	opacity: .4;
}


.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clear { display: inline-block; }
.clear { display: block; }