<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.lopes.heider.android_custom_listview_pokemon" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/pokebola_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.lopes.heider.android_custom_listview_pokemon.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.lopes.heider.android_custom_listview_pokemon.MainActivity" >
        </activity>
    </application>

</manifest>
